body {
  font-family: sans-serif;
}

button {
  margin-top: 3%;
  margin-left: 3%;
  padding: 2% 2%;
  border-radius: 5%;
  color: blue;
  font-size: 20pt;
  font-family:  cursive;
}

.centeredDiv {
  text-align: center;
}
