body {
    font-family: times;
}

header {
    background-color: #82685C;
    padding: 5px;
}

nav {
    display: none;
}

nav a:hover {
    text-decoration: underline;
}

header h1 {
    text-align: center;
    margin: 20px;
}

.mainp img {
    display: none;
}

.mainp {
    padding: 10px;
}

.mapimg {
    display: block;
    margin: 0px auto;
    width: 4in;
}

.promo-items {
    overflow: hidden;
    margin-top: 10px;
    padding: 10px;
    font-size: 90%;
}

.promo-items h2{
    font-size: 120%;
    text-align: center;
    margin-bottom: 10px;
}

.promo-items aside {
    width: 33.33%;
    float: left;
}

footer {
    padding: 10px;
    text-align: center;
    font-size: 20pt;
}

footer span {
    display: none;
}