* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #1E1A1A;
    font-family: verdana;
}

#container {
    width: 960px;
    margin: 0px auto;
}

header {
    background-color: #82685C;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav li {
    float: left;
}

nav a {
    color: #EEE;
    font-weight: bold;
    padding-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #EEE;
    clear: right;
    margin: 50px 0px 20px 0px;
    font-family: 'Ephesis', cursive;
    font-size: 60px;
}

#main-content {
    background-image: url(../img/cafe4.jpg);
    background-repeat: no-repeat;
    background-size: 960px;
    min-height: 600px;
}

.mainp img {
    width: 200px;
    float: right;
}

.mainp {
    background-color: rgba(240, 240, 240, .7);
    padding: 10px;
    overflow: hidden;
}

.mapimg {
    display: none;
}

.promo-items {
    background-color: rgba(240, 240, 240, .7);
    overflow: hidden;
    margin-top: 300px;
    padding: 10px;
}

.promo-items h2{
    font-size: 120%;
    text-align: center;
    margin-bottom: 10px;
}

.promo-items aside {
    width: 33.33%;
    float: left;
}

footer {
    background-color: #82685C;
    padding: 10px;
    text-align: center;
    font-size: 11pt;
}

@media screen and (max-width:961px) {
#container {
    width: 95%;
}

nav{
    text-align: center;
    margin: 0; padding: 0;
}

nav ul, nav li {
    float:none;
}

nav a {
    display:block;
    width:90%; height:24px;
    padding: 5px 0px;
    border: 2px solid #000;
    margin:4px auto;
    box-shadow:1px 1px 2px #222;
}

#main-content {
    background-image:none;
    min-height:0;
}

.mainp img {
    width: 100%;
    float: none;
}

.mapimg{
    display: block;
    width: 100%
    margin-top: 10px;
}

.promo-items{
    margin-top: 10px;
    background-color: transparent;
    padding:0;
}

.promo-items aside{
    width:100%;
    float:none;
    margin-bottom:10px;
    background-color: rgba(240,240,240,.7);
    padding:5px;
}

}
