#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(71, 71, 71, 1);
    border-bottom-width: 1px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(255, 255, 255, 0.02);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0.04);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(231, 231, 231, 0.03);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #474747;
}

html{
    height: 100%;
    margin: 0px;
}


body {
  height: 100%;
  margin: 0px;
  position:relative;
  font-family:Raleway,sans serif;
  color:#fdfdfd;
}

.container {
  height:100%;
}

.jumbotron {
  position:relative;
  background-color:#a1e4f2;
  width:100%;
  height:100%;
  min-height:100%;
  margin: 0px;
  top:15%;
}


#home {
  background-color:#a1e4f2;
  background-image: url(Uluwatu.jpg);
  height:100%;
}

#about {
  background-color:#FFAF78;
  position:relative;
  height:100%;
  min-height:100%;
  border:0px;
  margin:0px;
  font-size: 18px;
}

#projects {
  background-color:#FFA0A9 ;
  position:relative;
  min-height:100%;
  height:100%;
  border:0px;
  margin:0px;
}

#testimonials {
  background-color:#a3d285;
}

#contact {
  background-color:#fdd04b;
  position:relative;
  height:100%;
  min-height:100%;
  border:0px;
  margin:0px;
  font-size: 18px;
}

.navbar {
    margin-bottom: 0;
}

.thumbnail {
  background-color:#fdfdfd;
}

.thumbnail:hover {
  background-color:grey;
}

#aboutheader {
  padding-top: 5%;
  padding-bottom:5%;
}

#projectsheader {
  padding-top: 5%;
  padding-bottom:5%;
}

#contactsheader {
  padding-top: 5%;
  padding-bottom:5%;
}

#footerhome {
  position:absolute;
  bottom:2%;
  right:50%;
  left:50%;
}

#footerabout {
    position:absolute;
    bottom:2%;
    right:50%;
    left:50%;
}

#footerprojects {
    position:absolute;
    bottom:2%;
    right:50%;
    left:50%;
}

#homeicons {
  position:relative;;
  padding:0px;
}

#arrow {
  font-size: 40px;
  text-align: center;
  padding:0px;
}

.arrowwhite {
  color:#fdfdfd;
}

.iconwhite {
  color:#fdfdfd;
}

#contacticons {
  text-align: center;
  margin:auto;
}
