


h1.fancy-heading-custom {
    text-align: center;
    padding: 40px 0px;
    font-family: Great Vibes;
    color: #e9ba0f;
}
h4.calc-h4 {
    font-size: 18px;
    font-weight: 400;
}
.btcPrice {
    display: none;
}
.dashboardShortcut {
    float: left;
    padding-top: 10px;
    margin-left: 10px;
    color: white;
    font-weight: bolder;
}
.btcExchange {
    float: right;
}
.col-lg-3.col-md-3.user-payment-section {
    float: right;
    margin-top: -30px;
}
.round-shape-button {
    display: block;
    width: 85%;
    height: 48px;
    float: right;
    border-radius: 100px;
    border: 1px solid #efde28;
    background-image: linear-gradient(to left, #e39600 25%, #f0e426 50%, #0b0b0b8f 50%);
    padding: 0px 10px;
}
.btn--proof {
    background: transparent !important;
    padding: 4px 10px !important;
    color: black;
    font-weight: 700;
}
.onlyTextBtn {
  color: #ffffff !important;
}
.col-lg-3.col-md-6.logo-to-height {
    height: 86px;
}
.mainNav ul {
    text-align: right;
}
.mainNav nav li a {
    margin-left: 10px;
    margin-right: 0px;
}
.mainNav nav li a:hover:after, .mainNav nav li a:focus:after, .mainNav nav li a:active:after, .mainNav nav li a.active:after {
    width: 100%;
    height: 45px;
    z-index: -10;
    background: linear-gradient(to left, #e49704, #f0e226) !important;
    border-radius: 100px;
}
.mainNav a {
    padding: 0px 10px;
}
.mainNav nav li a:after {
  height: 45px;
  background: linear-gradient(to left, #e49704, #f0e226) !important;
}
.mainNav nav li a:hover {
    color: black !important;
}
.introSlider img {
    margin-top: 50px;
    margin-left: 100px;
}
.introSlider .scrollDown {
    color: white !important;
}
.col-md-3.icon-box-slider-down {
    height: 328px;
    border: 1px solid #fad600;
    padding: 30px 60px;
    transition: 1s;
}

section.icons-after-slider {
    padding: 0 20px;
}
.homeIntro {
  height: 830px;
}
.icon-box-slider-down h4 {
    color: white;
    font-size: 14px;
    margin-top: 30px;
}
.icon-box-slider-down h1 {
    color: white;
    font-weight: 400;
    line-height: normal;
    font-size: 45px;
}
hr.box-bottom {
    width: 60px;
    float: left;
    margin-top: 6px;
    border-top: 0px solid #fbd600;
    height: 3px;
    background: linear-gradient(to left, #d06300, #eabc10);
}
.col-md-3.icon-box-slider-down:hover {
    background-color: #000000;
    height: 340px;
}
section.icons-after-slider {
    min-height: 380px;
}
#helpTabSection .helpTab .helpTab__Menu ul li a:after {
    content: "";
    position: absolute;
    width: 100% !important;
    height: 43px;
    background: #e5ae06;
    background: -moz-linear-gradient(left, #e5ae06 0%, #da6700 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #e5ae06), color-stop(100%, #da6700));
    background: -webkit-linear-gradient(left, #e5ae06 0%, #da6700 100%);
    background: -o-linear-gradient(left, #e5ae06 0%, #da6700 100%);
    background: -webkit-gradient(linear, left top, right top, from(#e5ae06), to(#da6700));
    background: linear-gradient(to right, #e5ae06 0%, #da6700 100%);
    left: 0px;
    bottom: 31px;
    z-index: -10;
}
#helpTabSection .helpTab .helpTab__Menu ul li a {
  padding: 40px 12px;
}
#helpTabSection .helpTab .helpTab__Menu ul li a {
  color: #ffffff;
}


/*range slider css start*/
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 2px solid #dc7400;
  background-color: #0a0a0a;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid #dc7400;
  background-color: #0a0a0a;
  cursor: pointer;
}
#myRange {
 background: linear-gradient(to right, #e4aa02 0%, #db6e00 50%, #585858 50%, #585858 100%);
    border: solid 0px #fad600;
    border-radius: 8px;
    height: 4px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
/*range slider css end*/
.calc-header h3 {
    float: left;
    margin-top: 21px;
    color: #ebc716;
    font-size: 40px;
}

.calc-header img {
    float: left;
    padding-right: 19px;
}

.calc-header {
    width: 100%;
    height: 80px;
    padding: 10px 0px;
    margin-bottom: 40px;
}
#helpTabSection .helpTab .helpTab__Menu ul li.active a {
    color: #000000;
    font-weight: 500;
}
.col-md-3.range-slider-packages {
    padding: 40px;
    border: 1px solid #fad600;
}
.calc-left-head h4 {
    font-size: 14px;
    color: #b9b9b9;
    font-weight: 400;
}
.calc-right-results h4 {
    font-size: 15px;
    text-align: right;
    font-weight: 400;
}
.calc-bottom-results {
    width: 100%;
    display: flex;
    padding-top: 30px;
}
h4#result {
    color: #ebc716;
    font-weight: 600;
}
a.calc-invest-btn {
    padding: 12px 80px;
    border: 1px solid #fad600;
    color: #fad600;
    font-size: 15px !important;
    font-weight: 400;
    transition: .5s;
}
a.calc-invest-btn:hover {
    background: linear-gradient(45deg, #eed51e, #da6700);
    color: black;
    transition: .5s;
}

.calc-invest-box {
    padding: 10px 0px;
    text-align: center;
    margin-top: 30px;
}
a.referral-invest-btn {
    padding: 12px 80px;
    border: 1px solid #fad600;
    color: #fad600;
    font-size: 15px !important;
    font-weight: 400;
    transition: .5s;
}
a.referral-invest-btn:hover {
    background: linear-gradient(45deg, #eed51e, #da6700);
    color: black;
    transition: .5s;
}

.referral-invest-box {
    padding: 10px 0px;
    text-align: left;
    margin-top: 30px;
}
h1.fancy-heading-content-side {
    text-align: right;
    padding: 10px 15px;
    font-family: Great Vibes;
    color: #e9ba0f;
    float: left;
    width: 50%;
    line-height: 37px;
}

.content-side-info-header h3 {
    font-size: 60px;
    padding-left: 20px;
    text-align: right;
    color: #e9ba0f;
    line-height: 37px;
    font-weight: 500;
    width: 50%;
    float: left;
    padding-top: 30px;
}
.content-side-info-header {
    width: 100%;
    display: flex;
}
.content-side p {
    text-align: right;
    margin-top: 40px;
    color: white;
    margin-bottom: 20px;
}
hr.invest-seprator {
    border-top: 1px solid #fad600;
}
h4.invest-term-head {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

h4.invest-term-answer {
    text-align: right;
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.invest-terms {
    width: 100%;
    display: flex;
    padding: 20px 0px;
}
img.prostitute-img {
    margin-top: -70px;
    width: 80%;
    float: left;
}
.homeInvest {
  padding: 0px 0;
  overflow: hidden;
}
.homeInvest .col-lg-5.col-md-7 {
    margin: 42px 0px;
}
section.homeInvest.relative {
    background-color: #020b1a;
}
.sectionTitle h2 span:after {
  width: 0px;
}
h1.fancy-heading-referral {
    text-align: left;
    font-family: Great Vibes;
    color: #e9ba0f;
    line-height: 37px;
}
h3.referral-sub {
    color: white;
    font-weight: 400;
    margin-top: 18px;
}
.sectionTitle.clearfix {
    padding: 23px 0px;
}
p.referral-paragraph {
    margin-top: 40px;
    margin-bottom: 80px;
}
.col-md-3.col-xs-12.col-sm-12.range-slider-packages {
    background-color: black;
}
.homePartnership {
  background: none !important;
  background-color: #010101 !important;
}
.bitcoin-girl-right img {
    width: 40%;
    margin: 0 auto;
}

.bitcoin-girl-right {
    display: flex;
}

section.homePartnership.relative {
    padding-bottom: 0px !important;
    padding-top: 70px;
}

.col-lg-7.col-md-7.col-sm-12.bitcoin-girl-left {
    padding-top: 20px;
}
.bitcoin-girl-left p {
    color: white;
    width: 100%;
    max-width: 100%;
    padding-left: 0%;
    padding-bottom: 20px;
}
.bitcoin-girl-left h3 {
    padding-bottom: 40px;
}
section.pre-footer-cust {
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(45deg, #eed51e, #da6700);
}

h1.pre-footer-head {
    text-align: center;
    font-family: Great Vibes;
    color: #010101;
    padding: 8px 0px;
    line-height: normal;
}

.pre-footer-icon img {
    width: 80%;
    margin: 0 auto;
    transition: .5s;
}
.pre-footer-icon img:hover {
    transform: scale(1.3);
}
.pre-footer-icon {
    display: flex;
}
footer {
    background-color: #131313;
}
.footerCR {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
footer .footerCR{
 padding-top: 0px !important;   
}
a.foot-menu-link-cust {
    color: white;
    font-weight: 500;
    transition: .5s;
}
h1.footer-second-head {
    font-size: large;
    font-weight: 500;
    color: white;
    margin-bottom: 0px;
}

h1.footer-third-col-head {
    font-size: large;
    font-weight: 500;
    color: white;
    margin-bottom: 50px;
}
a.foot-menu-link-cust:hover {
    color: #fbd600 !important;
}
.aboutIntro {
  height: 830px;
  background: none;
}
.publicHeader {
  background: url("/images/about-bg.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding-top: 50px !important;
  color: rgba(255, 255, 255, 0.8);
}
.about-top-txt {
    padding-top: 8%;
    padding-left: 7%;
}
.aboutBrief .brief__text {
  padding-top: 50px;
}
.dashboardShortcut button:after {
    background: url(/img/selectArrow.png);
    background-position: 36px 33px;
}

.dashboardShortcut button {
    color: #efde28 !important;
    font-size: 12px !important;
    padding-right: 20px !important;
    letter-spacing: 1px !important;
    margin-left: -7px !important;
}
.dashboardShortcut button:hover {
    color: white !important;
}

.dashboardShortcut button:after {
    background: url(/img/selectArrow.png) !important;
    background-position: 36px 33px !important;
}
.dropdownMenu {
    max-width: 160px !important;
    width: 140% !important;
    margin-top: 2px !important;
}
.dropdownMenu {
    max-width: 500px !important;
    width: 220% !important;
    margin-top: 2px !important;
    right: -120% !important;
}

.dropdownMenu ul li a {
    background: #1f1f1f !important;
    color: white !important;
}
.dropdownMenu ul li a:hover {
    background: #edd21e !important;
}
