html {
  -webkit-font-smoothing: antialiased;
}
body {
  background: #fff;
  font-family: 'Ridley Grotesk', Helvetica;
  font-size: 12px;
  line-height: 25px;
  color: #123a4e;
  overflow-x: hidden;
}
button {
  background: none;
}
li {
  list-style: none;
}
h1,h2,h3,h4,h5 {
  margin: 10px 0;
}
h1 {
  font-size: 38px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 22px;
}
p {
  font-size: 16px;
  margin: 10px 0 5px;
}
section {
  width: 100%;
}
input,textarea,select {
  -webkit-appearance: none;
}
input,button {
  border: none;
  outline: none;
}
.disableClick {
  pointer-events: none;
}
.clearfix:after,footer .footerCR .logo:after {
  display: block;
  content: "";
  clear: both;
}
.onlyTextBtn {
  color: #598ca7;
  font-size: 12px;
  letter-spacing: 1px;
  transition: all ease-in-out .4s;
}
.onlyTextBtn:hover {
  color: #416475;
}
.btn {
  padding: 2px 20px;
  line-height: 30px;
  font-size: 12px;
}
.btn--large,.btn--outline {
  padding: 10px 55px;
  overflow: hidden;
  font-size: 15px;
  line-height: 45px;
  min-width: 260px;
}
.btn--outline {
  background: transparent;
}
.btn--outline:before,.btn--outline:after {
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
}
.btn--outline:before {
  right: 0;
  width: 65%;
}
.btn--outline:after {
  left: 0;
  width: 45%;
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -webkit-transform: perspective(270px) rotateX(-25deg);
  -moz-transform: perspective(270px) rotateX(-25deg);
  -o-transform: perspective(270px) rotateX(-25deg);
  -ms-transform: perspective(270px) rotateX(-25deg);
  transform-origin: left bottom;
  transform: perspective(270px) rotateX(-25deg);
  -webkit-transition: width cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.5s, border-right 0.5s 0.5s;
  -o-transition: width cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.5s, border-right 0.5s 0.5s;
  -moz-transition: width cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.5s, border-right 0.5s 0.5s;
  transition: width cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.5s, border-right 0.5s 0.5s;
}
.btn--outline span:after {
  display: block;
  content: '';
  position: absolute;
  width: 2px;
  height: 0;
  background: #00354f;
  top: 0;
  right: 0;
  -webkit-transition: height .2s .3s, opacity 1s .5s;
  -o-transition: height .2s .3s, opacity 1s .5s;
  -moz-transition: height .2s .3s, opacity 1s .5s;
  transition: height .2s .3s, opacity 1s .5s;
}
.btn--outline.btn--whiteSpace {
  color: #00354f;
}
.btn--outline.btn--whiteSpace:before {
  border: 2px solid #efcb7a;
  border-left: none;
}
.btn--outline.btn--whiteSpace:after {
  border: 2px solid #00354f;
  border-right: none;
}
.btn--outline.btn--whiteSpace:hover {
  background: rgba(0, 43, 64, 0.05);
}
.btn--outline.btn--whiteSpace:hover:after {
  border-right: 2px solid #00354f;
}
.btn--outline.btn--whiteSpace span:after {
  background: #00354f;
}
.btn--outline.btn--darkSpace {
  color: #fff;
}
.btn--outline.btn--darkSpace:before {
  border: 2px solid #f2d481;
  border-left: none;
}
.btn--outline.btn--darkSpace:after {
  border: 2px solid #f6f7f8;
  border-right: none;
}
.btn--outline.btn--darkSpace:hover {
  background: rgba(255, 255, 255, 0.03);
}
.btn--outline.btn--darkSpace:hover:after {
  border-right: 2px solid #f6f7f8;
}
.btn--outline.btn--darkSpace span:after {
  background: #f6f7f8;
}
.btn--outline:hover:after {
  -webkit-transform: perspective(270px) rotateX(0deg);
  -ms-transform: perspective(270px) rotateX(0deg);
  -o-transform: perspective(270px) rotateX(0deg);
  -moz-transform: perspective(270px) rotateX(0deg);
  transform: perspective(270px) rotateX(0deg);
  width: 100%;
}
.btn--outline:hover span:after {
  height: 100%;
  opacity: 0;
}
.btn--simpleOutline {
  border: 1px solid rgba(34, 71, 89, 0.1);
}
.btn--simpleOutline:hover {
  border-color: #eebc75;
}
.btn--white {
  background: #fff;
  color: #1f4354;
}

h1.fancy-heading-custom {
    text-align: center;
    padding: 40px 0px;
    font-family: Great Vibes;
    color: #e9ba0f;
}
section#home {
    background-image: url(../images/escortbg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right top;
}
.dashboardShortcut {
    float: left;
    padding-top: 10px;
    margin-left: 10px;
    color: white;
    font-weight: bolder;
}
.dashboardShortcut button {
  color: #598ca7;
  font-size: 12px;
  letter-spacing: 3px;
  padding-right: 25px;
}
.dashboardShortcut button:hover {
  color: #123a4e;
}
.dashboardShortcut button:after {
  background-position: 0 0;
  width: 13px;
  height: 8px;
  top: 7px;
  right: 0;
} 
.btcExchange {
    float: right;
}
.col-lg-3.col-md-3.user-sign-section {
    float: right;
    margin-top: -30px;
}
.round-shape-button {
    display: block;
    width: 85%;
    height: 48px;
    float: right;
    border-radius: 100px;
    border: 1px solid #efde28;
    background-image: linear-gradient(to left, #e39600 25%, #f0e426 50%, #0b0b0b8f 50%);
    padding: 0px 10px;
}
.btn--proof {
    background: transparent !important;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 13px;
    background: -moz-linear-gradient(left, #ff9808 0%, #feb645 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #ff9808), color-stop(100%, #feb645));
    background: -webkit-linear-gradient(left, #ff9808 0%, #feb645 100%);
    background: -o-linear-gradient(left, #ff9808 0%, #feb645 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff9808), to(#feb645));
    background: linear-gradient(to right, #ff9808 0%, #feb645 100%);
    -webkit-box-shadow: 0 8px 11px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 8px 11px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 11px 0 rgba(255, 255, 255, 0.1);
    color: #ffffff;
    margin-top: 8px;
    display: inline-block;
    vertical-align: middle;
}
.onlyTextBtn {
    color: #ffffff !important;
}
.col-lg-3.col-md-3.logo-to-height {
    height: 86px;
}
.responsiveIcon {
  display: none;
  margin-top: -4px;
  padding-left: 20px;
}
.responsiveIcon button {
  width: 45px;
  height: 40px;
  padding: 15px;
  background: #e79d55;
  background: -moz-linear-gradient(left, #e79d55 0%, #f2d783 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #e79d55), color-stop(100%, #f2d783));
  background: -webkit-linear-gradient(left, #e79d55 0%, #f2d783 100%);
  background: -o-linear-gradient(left, #e79d55 0%, #f2d783 100%);
  background: -webkit-gradient(linear, left top, right top, from(#e79d55), to(#f2d783));
  background: linear-gradient(to right, #e79d55 0%, #f2d783 100%);
  -webkit-box-shadow: 0px 15px 27px 5px rgba(237, 189, 111, 0.2);
  -moz-box-shadow: 0px 15px 27px 5px rgba(237, 189, 111, 0.2);
  box-shadow: 0px 15px 27px 5px rgba(237, 189, 111, 0.2);
}
.responsiveIcon button:before {
  content: '';
  top: 6px;
  left: -14px;
  width: 28px;
  height: 28px;
  background: #ecb568;
  background: -moz-linear-gradient(-45deg, #ecb568 0%, #d58b43 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ecb568), color-stop(100%, #d58b43));
  background: -webkit-linear-gradient(-45deg, #ecb568 0%, #d58b43 100%);
  background: -o-linear-gradient(-45deg, #ecb568 0%, #d58b43 100%);
  background: -ms-linear-gradient(-45deg, #ecb568 0%, #d58b43 100%);
  background: linear-gradient(135deg, #ecb568 0%, #d58b43 100%);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.responsiveIcon button:after {
  background-position: -300px -715px;
  width: 14px;
  height: 13px;
  top: 13px;
  left: 14px;
}
.mainNav, .onlyTextBtn, .btn--proof {
    text-transform: uppercase;
}
.mainNav {
    z-index: 1;
}
.mainNav ul {
    text-align: right;
}
.mainNav a {
    color: #debc16 !important;
    padding: 0px 10px;
}
.mainNav nav {
    font-weight: 500;
    font-size: 12px;
    color: #598ca7;
}
.mainNav nav li a {
    margin-left: 10px;
    margin-right: 30px;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: bolder;
}
.mainNav nav li a:hover,.mainNav nav li a:focus,.mainNav nav li a:active,.mainNav nav li a.active {
  color: #416475;
}
.mainNav nav li a:hover:after, .mainNav nav li a:focus:after, .mainNav nav li a:active:after, .mainNav nav li a.active:after {
    width: 100%;
    height: 45px;
    z-index: -10;
    background: linear-gradient(to left, #e49704, #f0e226);
    border-radius: 100px;
}
.mainNav nav li a:after {
    display: block;
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    bottom: -10px;
    height: 45px;
    background: linear-gradient(to left, #e49704, #f0e226);
}
.mainNav .logo {
  margin-bottom: 32px;
  display: block;
}
.trans,.onlyTextBtn,.btn,footer .footerCR .footerCR__social ul li a:after,.mainNav nav li a,.mainNav nav li a:after,.dashboardShortcut button,.introSlider .introSlider__pagination a,.introSlider .introSlider__pagination a:after,.introSlider .introSlider__pagination a:before,.homeInvest .featureCarousel__item,.homeInvest .featureCarousel__item .featureCarousel__item__icon,.homeInvest .featureCarousel__item .featureCarousel__item__icon:before,.homePartnership .partnerFeaturesHome .partnerFeaturesHome__pagination li a,.securityLevel .securityLevel__item .securityDeactiveIcon,.dropdownMenu,.dropdownMenu ul li a,.investCalculator .profitCalculator .profitCalculator__input input,.partnerFeatures .partnerCarousel .partenrCarousell__item .icon,.partnerFeatures .partnerCarousel .partenrCarousell__item footer .footerCR .footerCR__social ul li a,footer .footerCR .footerCR__social ul li .partnerFeatures .partnerCarousel .partenrCarousell__item a,.partnerFeatures .partnerCarousel .partenrCarousell__item .smallStatistic ul li,.smallStatistic ul .partnerFeatures .partnerCarousel .partenrCarousell__item li,.partnerFeatures .partnerCarousel .partenrCarousell__item .homeInvest .featureCarousel__item .featureCarousel__item__icon,.homeInvest .featureCarousel__item .partnerFeatures .partnerCarousel .partenrCarousell__item .featureCarousel__item__icon,.partnerFeatures .partnerCarousel .partenrCarousell__item .homePartnership .partnerFeaturesHome .partnerFeaturesHome__slider .content .partnerFeaturesHome__icon,.homePartnership .partnerFeaturesHome .partnerFeaturesHome__slider .content .partnerFeatures .partnerCarousel .partenrCarousell__item .partnerFeaturesHome__icon,.partnerFeatures .partnerCarousel .partenrCarousell__item .securityLevel .securityLevel__item .securityActiveBox .securityActiveBox__title,.securityLevel .securityLevel__item .securityActiveBox .partnerFeatures .partnerCarousel .partenrCarousell__item .securityActiveBox__title,.partnerFeatures .partnerCarousel .partenrCarousell__item .securityLevel .securityLevel__item .securityDeactiveIcon,.securityLevel .securityLevel__item .partnerFeatures .partnerCarousel .partenrCarousell__item .securityDeactiveIcon,.partnerFeatures .partnerCarousel .partenrCarousell__item .dropdownMenu ul li:last-child a,.dropdownMenu ul li:last-child .partnerFeatures .partnerCarousel .partenrCarousell__item a,.partnerFeatures .partnerCarousel .partenrCarousell__item .servicesIntro .servicesPlan .planDetails,.servicesIntro .servicesPlan .partnerFeatures .partnerCarousel .partenrCarousell__item .planDetails,.partnerFeatures .partnerCarousel .partenrCarousell__item .partnerCommission .partnerCommission__carousel .partnerCommissionItem .partnerCommissionItem__innerCircle,.partnerCommission .partnerCommission__carousel .partnerCommissionItem .partnerFeatures .partnerCarousel .partenrCarousell__item .partnerCommissionItem__innerCircle,.partnerFeatures .partnerCarousel .partenrCarousell__item #aboutCarousel .feature__item .feature__item__header,#aboutCarousel .feature__item .partnerFeatures .partnerCarousel .partenrCarousell__item .feature__item__header,.partnerFeatures .partnerCarousel .partenrCarousell__item #aboutBottom .aboutBottom .about__bottomIcon,#aboutBottom .aboutBottom .partnerFeatures .partnerCarousel .partenrCarousell__item .about__bottomIcon,.partnerFeatures .partnerCarousel .partenrCarousell__item .account .accountProfile .accountProfile__header .coinLogo,.account .accountProfile .accountProfile__header .partnerFeatures .partnerCarousel .partenrCarousell__item .coinLogo,.partnerFeatures .partnerCarousel .partenrCarousell__item .account .accountProfile .accountProfile__header .editProfile,.account .accountProfile .accountProfile__header .partnerFeatures .partnerCarousel .partenrCarousell__item .editProfile,.partnerFeatures .partnerCarousel .partenrCarousell__item .account .accountProfile .accountProfile__card .accountProfile__name,.account .accountProfile .accountProfile__card .partnerFeatures .partnerCarousel .partenrCarousell__item .accountProfile__name,.partnerFeatures .partnerCarousel .partenrCarousell__item .account .accountDashboard .accountDashboard__menu ul li,.account .accountDashboard .accountDashboard__menu ul .partnerFeatures .partnerCarousel .partenrCarousell__item li,.partnerFeatures .partnerCarousel .partenrCarousell__item .account .accountDashboard .accountDashboard__menu ul li a,.account .accountDashboard .accountDashboard__menu ul li .partnerFeatures .partnerCarousel .partenrCarousell__item a,.partnerFeatures .partnerCarousel .partenrCarousell__item .account .accountProfile__bottom .accountSignOut .btn--signOut,.account .accountProfile__bottom .accountSignOut .partnerFeatures .partnerCarousel .partenrCarousell__item .btn--signOut,.partnerFeatures .partnerCarousel .partenrCarousell__item .calculateDeposit .calculateDeposit__header,.calculateDeposit .partnerFeatures .partnerCarousel .partenrCarousell__item .calculateDeposit__header,.partnerFeatures .partnerCarousel .partenrCarousell__item .investmentStatus,.partnerFeatures .partnerCarousel .partenrCarousell__item .investmentStatus .investmentStatus__header,.investmentStatus .partnerFeatures .partnerCarousel .partenrCarousell__item .investmentStatus__header,.partnerFeatures .partnerCarousel .partenrCarousell__item .withdrawalStatus,.partnerFeatures .partnerCarousel .partenrCarousell__item .withdrawalStatus .withdrawalStatus__header,.withdrawalStatus .partnerFeatures .partnerCarousel .partenrCarousell__item .withdrawalStatus__header,.partnerFeatures .partnerCarousel .partenrCarousell__item .withdrawalStatus .earningHistory a span,.withdrawalStatus .earningHistory a .partnerFeatures .partnerCarousel .partenrCarousell__item span,.partnerFeatures .partnerCarousel .partenrCarousell__item .btn--blueHighlight span,.btn--blueHighlight .partnerFeatures .partnerCarousel .partenrCarousell__item span,.partnerFeatures .partnerCarousel .partenrCarousell__item .modalWithdrawal__body .modalWithdrawal__addBitcoinAddress .btn--addBitcoinAddress span,.modalWithdrawal__body .modalWithdrawal__addBitcoinAddress .btn--addBitcoinAddress .partnerFeatures .partnerCarousel .partenrCarousell__item span,.partnerFeatures .partnerCarousel .partenrCarousell__item .modalWithdrawal__noBalance .noBalanceIcon,.modalWithdrawal__noBalance .partnerFeatures .partnerCarousel .partenrCarousell__item .noBalanceIcon,.partnerFeatures .partnerCarousel .partenrCarousell__item .modalMakeInvestment__body .modalMakeInvestment__sendInvest .copyLink .btn--copyLink,.modalMakeInvestment__body .modalMakeInvestment__sendInvest .copyLink .partnerFeatures .partnerCarousel .partenrCarousell__item .btn--copyLink,.partnerFeatures .partnerCarousel .partenrCarousell__item .modalMakeInvestment__body .modalInvestment__hourlyProfit span,.modalMakeInvestment__body .modalInvestment__hourlyProfit .partnerFeatures .partnerCarousel .partenrCarousell__item span,.partnerFeatures .partnerCarousel .partenrCarousell__item .modalDashboard__header,.partnerFeatures .partnerCarousel .partenrCarousell__item .modalDashboard__header button,.modalDashboard__header .partnerFeatures .partnerCarousel .partenrCarousell__item button,.partnerFeatures .partnerCarousel .partenrCarousell__item .modalBottom .confirm__holder .btn--confirm span,.modalBottom .confirm__holder .btn--confirm .partnerFeatures .partnerCarousel .partenrCarousell__item span,.partnerFeatures .partnerCarousel .partenrCarousell__item .btn--circleGrt,.partnerFeatures .partnerCarousel .partenrCarousell__item .depositList .depositList__header .depositList__headerTitle,.depositList .depositList__header .partnerFeatures .partnerCarousel .partenrCarousell__item .depositList__headerTitle,.partnerFeatures .partnerCarousel .partenrCarousell__item .depositList .depositListBody .depositList__item .depositList__itemBtn span,.depositList .depositListBody .depositList__item .depositList__itemBtn .partnerFeatures .partnerCarousel .partenrCarousell__item span,.partnerFeatures .partnerCarousel .partenrCarousell__item .transactionList .transactionListHeader .transactionListHeader__title,.transactionList .transactionListHeader .partnerFeatures .partnerCarousel .partenrCarousell__item .transactionListHeader__title,.partnerFeatures .partnerCarousel .partenrCarousell__item .transactionList .transactionListHeader .transactionListSearch .transactionListSearch__selects .btn--transactionSearch,.transactionList .transactionListHeader .transactionListSearch .transactionListSearch__selects .partnerFeatures .partnerCarousel .partenrCarousell__item .btn--transactionSearch,.partnerFeatures .partnerCarousel .partenrCarousell__item .referralList .referralList__header .referralList__headerTitle,.referralList .referralList__header .partnerFeatures .partnerCarousel .partenrCarousell__item .referralList__headerTitle,.partnerFeatures .partnerCarousel .partenrCarousell__item .editAccount .editAccount__header,.editAccount .partnerFeatures .partnerCarousel .partenrCarousell__item .editAccount__header,.partnerFeatures .partnerCarousel .partenrCarousell__item .sign__header .coinLogo,.sign__header .partnerFeatures .partnerCarousel .partenrCarousell__item .coinLogo,.partnerFeatures .partnerCarousel .partenrCarousell__item .sign__input__item label,.sign__input__item .partnerFeatures .partnerCarousel .partenrCarousell__item label,.partnerFeatures .partnerCarousel .partenrCarousell__item .sign__input__item input,.sign__input__item .partnerFeatures .partnerCarousel .partenrCarousell__item input,.partnerFeatures .partnerCarousel .partenrCarousell__item .btn--globe span,.btn--globe .partnerFeatures .partnerCarousel .partenrCarousell__item span,.partnerFeatures .partnerCarousel .partenrCarousell__item #signUpsuccess .signUpSuccessMessage .successIcon,#signUpsuccess .signUpSuccessMessage .partnerFeatures .partnerCarousel .partenrCarousell__item .successIcon,.partnerFeatures .partnerCarousel .partenrCarousell__item .responsiveIcon button,.responsiveIcon .partnerFeatures .partnerCarousel .partenrCarousell__item button,.partnerFeatures .partnerCarousel .partenrCarousell__item .responsiveMenu .responsiveHeader button,.responsiveMenu .responsiveHeader .partnerFeatures .partnerCarousel .partenrCarousell__item button,.partnerFeatures .partnerCarousel .partenrCarousell__item .responsiveMenu .responsiveLogout .btn--Logout,.responsiveMenu .responsiveLogout .partnerFeatures .partnerCarousel .partenrCarousell__item .btn--Logout,.about__circleMenu .about__circleMenuMain .circleMenu_item .circleMenu__text,.helpIntro .helpSearch .helpSearch__box input,#helpTabSection .helpTab .helpTab__Menu ul li a,#helpTabSection .helpTab .helpTab__Menu ul li a:after,#helpTabSection .helpTabContent .helpTabContent__Item .helpTabContent__title:after,#helpTabSection .helpTabContent .helpTabContent__Item:before,.contactForm .contactForm__item textarea,.contactForm .contactForm__item input,#proofs .pagination a,#proofs .pagination a.active:before,#proofs .pagination a.active:after,.dashboardIntro,.dashboardIntro .dashboardNav nav li a,.dashboardIntro .dashboardNav nav li a:after,.account .accountProfile__bottom .accountSignOut .btn--signOut,.calculateDeposit .calculateDeposit__calculator svg #circleLine,.calculateMakeInvest .calculateMakeInvest__type,.calculateMakeInvest .calculateMakeInvest__type div,.withdrawalStatus .earningHistory a,.makeInvestBg,.dashboardListBody .dashboardlist__itemPagination ul li a,.sign__input__item label,.sign__input__item label:before,.sign__input__item input,.btn--globe:after,.btcAccHelp .btcAccHelp__tooltip,.step__brief .step__nav ul li span,.step__brief .step__nav ul li:before {
  -webkit-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
  -moz-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.relative,.icon,footer .footerCR .footerCR__social ul li a,.smallStatistic ul li,.homeInvest .featureCarousel__item .featureCarousel__item__icon,.homePartnership .partnerFeaturesHome .partnerFeaturesHome__slider .content .partnerFeaturesHome__icon,.securityLevel .securityLevel__item .securityActiveBox .securityActiveBox__title,.securityLevel .securityLevel__item .securityDeactiveIcon,.dropdownMenu ul li:last-child a,.servicesIntro .servicesPlan .planDetails,.partnerCommission .partnerCommission__carousel .partnerCommissionItem .partnerCommissionItem__innerCircle,#aboutCarousel .feature__item .feature__item__header,#aboutBottom .aboutBottom .about__bottomIcon,.account .accountProfile .accountProfile__header .coinLogo,.account .accountProfile .accountProfile__header .editProfile,.account .accountProfile .accountProfile__card .accountProfile__name,.account .accountDashboard .accountDashboard__menu ul li,.account .accountDashboard .accountDashboard__menu ul li a,.account .accountProfile__bottom .accountSignOut .btn--signOut,.calculateDeposit .calculateDeposit__header,.investmentStatus,.investmentStatus .investmentStatus__header,.withdrawalStatus,.withdrawalStatus .withdrawalStatus__header,.withdrawalStatus .earningHistory a span,.btn--blueHighlight span,.modalWithdrawal__body .modalWithdrawal__addBitcoinAddress .btn--addBitcoinAddress span,.modalWithdrawal__noBalance .noBalanceIcon,.modalMakeInvestment__body .modalMakeInvestment__sendInvest .copyLink .btn--copyLink,.modalMakeInvestment__body .modalInvestment__hourlyProfit span,.modalDashboard__header,.modalDashboard__header button,.modalBottom .confirm__holder .btn--confirm span,.btn--circleGrt,.btn--circleGrt.successIcon,.depositList .depositList__header .depositList__headerTitle,.depositList .depositListBody .depositList__item .depositList__itemBtn span,.transactionList .transactionListHeader .transactionListHeader__title,.transactionList .transactionListHeader .transactionListSearch .transactionListSearch__selects .btn--transactionSearch,.referralList .referralList__header .referralList__headerTitle,.editAccount .editAccount__header,.sign__header .coinLogo,.sign__input__item label,.sign__input__item input,.btn--globe span,#signUpsuccess .signUpSuccessMessage .successIcon,.responsiveIcon button,.responsiveMenu .responsiveHeader button,.responsiveMenu .responsiveLogout .btn--Logout,.secondIcon,.account .accountDashboard .accountDashboard__menu ul li.active a,.btn,.sectionTitle h2 span,.centerSectionTitle h2,.mainNav,.mainNav nav li a,.mainNav .logo .logo__type,.dashboardShortcut,.btcExchange,.publicHeader,.smallStatistic,.homeIntro,.introSlider,.introSlider .introSlider__pagination a,.homeIntro__mobile,.homePartnership .partnerFeaturesHome,.homePartnership .partnerFeaturesHome .partnerFeaturesHome__slider .content,.securityLevel,.securityLevel .owl-dots,.servicesIntro .servicesBrief,.servicesIntro .servicesBrief .servicesBrief__title,.servicesIntro .servicesPlan,.investCalculator,.investCalculator .profitCalculator,.servicesParallax,.partnerIntro .partnerBrief,.partnerRefer,.partnerRefer .sectionTitle .titleSvg,.partnerFeatures .partnerCarousel,.partnerCommission,.partnerCommission .partnerCommission__brief,.partnerCommission .partnerCommission__carousel,.partnerCommission .partnerCommission__carousel .partnerCommissionItem .partnerCommissionItem__details,.aboutIntro,.aboutBrief,#aboutCarousel,#aboutCarousel #aboutFeatureCarousel,.about__circleMenu,.about__circleMenu .about__circleMenuMain,#aboutBottom,.helpIntro .helpSearch,.helpIntro .helpSearch .helpSearch__box,.contactUs,#helpTabSection,#helpTabSection .helpTab,#helpTabSection .helpTab .helpTab__Menu ul li a,#helpTabSection .helpTabContent ul,#helpTabSection .helpTabContent .helpTabContent__Item,#helpTabSection .helpTabContent .helpTabContent__Item .helpTabContent__title,.contactForm .contactForm__item,.contactForm .contactForm__item textarea,.contactForm .contactForm__item input,.contactForm .contactForm__sentMessage,#topSvgSection,#topSvgSection .topSvgSection__header .topSvgSection__title,#topSvgSection .topSvgSection__header .topSvgSection__svgTitle,#topSvgSection .topSvgSection__header .topSvgSection__svgTitle span,.newsContent ul,.newsContent .newsItem,.newsContent .newsItem .newsItem__title,.socialBottom,.socialBottom .socialBottom__box,#proofs,#proofs .proofs__filterBody .filterHeader .filterTitle,#proofs .proofsItem,#proofs .pagination a,.dashboardIntro,.dashboardIntro .dashboardNav,.dashboardIntro .dashboardNav nav li a,.account,.account .accountProfile,.account .accountProfile .accountProfile__card,.account .accountProfile .accountProfile__card .accountProfile__balance,.account .accountProfile .accountProfile__card .accountProfile__earning,.account .accountDashboard,.account .accountProfile__bottom .accountSignOut .btn--signOut span,.calculateDeposit,.calculateDeposit .calculateDeposit__header .resetDeposit,.calculateDeposit .calculateDeposit__calculator,.calculateDeposit .calculateDeposit__calculator .hourlyProfit .hourlyProfit__amount,.calculateDeposit .calculateDeposit__calculator .profitsBox,.calculateDeposit .calculateDeposit__calculator .profitsBox span:after,.calculateDeposit .calculateDeposit__calculator .profitsBox .dailyProfit,.calculateDeposit .calculateDeposit__calculator .profitsBox .monthlyProfit,.calculateDeposit .calculateDeposit__calculator .profitsBox .weeklyProfit,.calculateMakeInvest,.investmentStatus .investmentStatus__totalInvestment,.investmentStatus .investmentStatus__totalInvestment span,.investmentStatus .investmentStatus__totalInvestment span:after,.investmentStatus .activeInvestment span,.investmentStatus .activeInvestment span:after,.investmentStatus .lastInvestment span,.investmentStatus .lastInvestment span:after,.withdrawalStatus .withdrawalStatus__totalWithdraw,.withdrawalStatus .withdrawalStatus__totalWithdraw span,.withdrawalStatus .withdrawalStatus__totalWithdraw span:after,.withdrawalStatus .pendingWithdrawal span,.withdrawalStatus .pendingWithdrawal span:after,.withdrawalStatus .lastWithdrawal .lastWithdrawal__details span,.withdrawalStatus .lastWithdrawal .lastWithdrawal__details span:after,.withdrawalStatus .earningHistory,.btn--blueHighlight,.modalWithdrawal__body .modalWithdrawal__balance,.modalWithdrawal__body .modalWithdrawal__balance span,.modalWithdrawal__body .modalWithdrawal__balance span:after,.modalWithdrawal__body .modalWithdrawal__amount label,.modalWithdrawal__body .modalWithdrawal__addBitcoinAddress .btn--addBitcoinAddress,.modalMakeInvestment__body .modalMakeInvestment__sendInvest,.modalError .modalError__btnOk a,.depositList,.depositList .depositList__header,.depositList .depositListBody .depositList__item .depositList__itemAmount span:after,.releaseModal__releaseFeeAmount span:after,.releaseModal__releaseConfirm .releaseModal__releaseConfirmBox span:after,.transactionList,.transactionList .transactionListHeader,.transactionList .transactionListHeader .transactionListSearch .transactionListSearch__selects,.dashboardListBody .dashboardListBody__header div,.dashboardListBody .dashboardList__item div,.dashboardListBody .dashboardList__item div:nth-child(2):after,.dashboardListBody .dashboardlist__itemPagination ul li a,.referralList .referralList__header,.referralList .referralList__header .referralList__headerLink,.referralList .referralList__header .referralList__headerLink:after,.dashboardListBody.dashboardListBody--referral .dashboardList__item div:nth-child(3) .status,.editAccount,.securityItem .securitySetting .securityItemBoxOption label:before,.sign__box,.sign__input__item,.agreementNote label,.btn--sign,.step__brief,.step__brief .step__nav ul li,.step__brief .step__nav ul li:before,.getStarted__step .getStarted__step3,.getStarted__step .getStarted__step4,.responsiveMenu .responsiveHeader span {
  position: relative;
}
.letter3,.mainNav nav,.dashboardIntro .dashboardNav nav,.account .accountProfile .accountProfile__card .accountProfile__name,.withdrawalStatus .withdrawalStatus__header,.responsiveMenu .responsiveHeader span,.responsiveMenu .responsiveLogout .btn--Myprofile {
  letter-spacing: 3px;
}
.inlineBlock,.btn,footer .footerCR .logo > div,footer .footerCR .footerCR__social ul li,.mainNav nav li,.mainNav .logo .logo__symbol,.mainNav .logo .logo__type,.btcPrice,.btn--proof,.smallStatistic ul li,.introSlider .introSlider__pagination a,.homeInvest .featureCarousel__item .featureCarousel__item__icon,.homePartnership .homePartnership__commissions div,.homePartnership .partnerFeaturesHome .partnerFeaturesHome__pagination li a,.securityLevel .owl-dots .owl-dot,.servicesIntro .servicesPlan .hourlyProfit span,#aboutBottom .aboutBottom .about__bottom__validate .onlyTextBtn span,.contactUs .contactUs__text,#helpTabSection .helpTab .helpTab__Menu ul li,.contactModal .contactModalForm .contactModal__info,.contactModal .contactModalForm iframe,#proofs .proofsItem .proofsItem__text,#proofs .pagination a,.dashboardIntro .dashboardNav nav li,.account .accountProfile .accountProfile__header .coinLogo,.account .accountProfile .accountProfile__header .coinLogo .logo__symbol,.account .accountDashboard .accountDashboard__menu ul li,.account .accountProfile__bottom .accountSignOut .registerDate,.calculateDeposit .calculateDeposit__calculator .profitsBox span:after,.investmentStatus .investmentStatus__totalInvestment span:after,.investmentStatus .activeInvestment span:after,.investmentStatus .lastInvestment span:after,.withdrawalStatus .withdrawalStatus__totalWithdraw span:after,.withdrawalStatus .pendingWithdrawal span:after,.withdrawalStatus .lastWithdrawal .lastWithdrawal__details span:after,.withdrawalStatus .earningHistory,.withdrawalStatus .earningHistory a span,.btn--blueHighlight,.btn--blueHighlight span,.modalWithdrawal__body .modalWithdrawal__addBitcoinAddress .btn--addBitcoinAddress span,.modalMakeInvestment__body .modalInvestment__hourlyProfit span,.modalBottom,.btn--circleGrt,.depositList .depositList__header .depositList__headerTitle,.releaseModal__releaseFee .releaseModal__releaseFeeRate,.releaseModal__releaseFee .releaseModal__releaseFeeRate span,.releaseModal__releaseFeeAmount,.releaseModal__releaseFeeAmount span:after,.releaseModal__releaseConfirm .releaseModal__releaseConfirmBox,.releaseModal__releaseConfirm .releaseModal__releaseConfirmBox span:after,.dashboardListBody .dashboardList__item div:nth-child(2):after,.dashboardListBody .dashboardList__item .btn--withdrawVerify,.dashboardListBody .dashboardlist__itemPagination ul li,.referralList .referralList__header .referralList__headerLink .btn--referralMarketingBanner,.dashboardListBody.dashboardListBody--referral .dashboardList__item div:nth-child(3) .status,.btn--outlineCopylink,.marketingBannerBody .marketingBanner__item .bannerItem__text .btn--outlineCopylink,.editAccount .editAccount__body .editAccount__itemBox .editAccount__itemBoxBody input,.editAccount .editAccount__body .editAccount__itemBottom .btn--saveAccountChange,.securityItem .securitySetting .securityItemBoxOption,.securityItem .securitySetting .securityItemBoxOption label:before,.sign__header .coinLogo,.sign__header .coinLogo .logo__symbol,#signUpsuccess .signUpSuccessMessage .successIcon,.step__brief .step__nav ul li,.responsiveMenu .responsiveHeader button,.responsiveMenu .responsiveHeader span,.responsiveMenu .responsiveHeader .signupBtn {
  display: inline-block;
  vertical-align: middle;
}
.introSlider {
  max-width: 520px;
  margin: 70px 0 0;
  z-index: 3;
}
.introSlider .scrollDown {
    color: white !important;
    margin-top: 50px;
    padding-left: 35px;
    color: #91b9cf;
}
.introSlider .scrollDown:after {
  background-position: -20px 0;
  width: 20px;
  height: 11px;
  top: 7px;
  left: 0;
}
.col-md-3.icon-box-slider-down {
    height: 328px;
    border: 1px solid #fad600;
    padding: 30px 60px;
    transition: 1s;
}
section.icons-after-slider {
    padding: 0 20px;
}
.homeIntro {
    height: 830px;
    padding-top: 20px;
}
.homeIntro__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.icon-box-slider-down h4 {
    color: white;
    font-size: 14px;
    margin-top: 30px;
}
.icon-box-slider-down h1 {
    color: white;
    font-weight: 400;
    line-height: normal;
    font-size: 45px;
}
hr.box-bottom {
    width: 60px;
    float: left;
    margin-top: 6px;
    border-top: 0px solid #fbd600;
    height: 3px;
    background: linear-gradient(to left, #d06300, #eabc10);
}
.col-md-3.icon-box-slider-down:hover {
    background-color: #000000;
    height: 340px;
}
section.icons-after-slider {
    min-height: 380px;
}
h1.fancy-heading-referral {
    text-align: left;
    font-family: Great Vibes;
    color: #e9ba0f;
    line-height: 37px;
}
h3.referral-sub {
    color: white;
    font-weight: 400;
    margin-top: 8px;
}
a.referral-invest-btn {
    padding: 12px 80px;
    border: 1px solid #fad600;
    color: #fad600;
    font-size: 15px !important;
    font-weight: 400;
    transition: .5s;
}
a.referral-invest-btn:hover {
    background: linear-gradient(45deg, #eed51e, #da6700);
    color: black;
    transition: .5s;
}
.referral-invest-box {
    padding: 10px 0px;
    text-align: left;
    margin-top: 30px;
}
p.referral-paragraph {
    text-align: justify !important;
    color: white !important;
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: 300;
    font-family: 'Ridley Grotesk'; 
}
#about p {
    font-weight: 300;
    font-family: 'Ridley Grotesk'; 
}
.homePartnership {
    display: flex;
    background: #010101;
    color: #131313;
    padding: 190px 0;
}
.homePartnership .titleSvg {
  width: 112px;
  height: 89px;
}
.homePartnership h2 {
  margin-bottom: 85px;
}
.homePartnership h2 span {
  color: #fff;
}
.homePartnership p {
    color: rgba(255, 255, 255, 0.5);
    text-align: justify;
    font-weight: 300;
    font-family: 'Ridley Grotesk'; 
}
.homePartnership p:first-letter {
  margin-left: 30px;
}
.homePartnership .referral-invest-btn {
    text-align:center;
    margin-left: 30vh;
}
.bitcoin-girl-right img {
    width: 40%;
    margin: 0 auto;
}
section.homePartnership.relative {
    padding-bottom: 0px !important;
    padding-top: 70px;
}
.col-lg-8.col-md-8.col-sm-12.bitcoin-girl-left {
    padding-top: 20px;
}
.bitcoin-girl-left p {
    color: white;
    width: 100%;
    max-width: 100%;
    padding-left: 0%;
    padding-bottom: 20px;
}
.bitcoin-girl-left h3.referral-sub {
    padding-bottom: 40px;
}
.homeInvest {
    padding: 25px 0;
    overflow: hidden;
}
.homeInvest img {
    margin-left: -30px;
}
.homeInvest .featureCarousel {
    display: block;
    position: relative;
    transform: none !important;
    top: 0 !important;
    right: 0 !important;
    margin-left: -60px;
    text-align: center;
}
.homeInvest p {
  color: #939393;
  font-size: 17px;
  opacity: .7;
  margin-bottom: 90px;
}
.homeInvest p:first-letter {
  margin-left: 30px;
}
.homeInvest .featureCarousel__features {
  width: 1000px;
  height: 1000px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  right: 0;
  top: -740px;
  z-index: 1;
}
.homeInvest .featureCarousel__item {
  width: 130px;
  height: 240px;
  cursor: pointer;
}
.homeInvest .featureCarousel__item span {
  font-size: 19px;
  color: #a0a0a0;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.homeInvest .featureCarousel__item .featureCarousel__item__icon {
  width: 62px;
  height: 62px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid rgba(18, 57, 77, 0.1);
}
.homeInvest .featureCarousel__item .featureCarousel__item__icon:before {
  content: "";
  background: url("../img/sprite.png") no-repeat;
  position: absolute;
}
.homeInvest .featureCarousel__item.active .featureCarousel__item__icon:before {
  visibility: visible;
  opacity: 1;
}
.homeInvest .featureCarousel__item.secureInvest {
  bottom: -42px;
  right: 147px;
}
.homeInvest .featureCarousel__item.secureInvest .featureCarousel__item__icon:after {
  background-position: -130px -100px;
  width: 33px;
  height: 28px;
  top: 14px;
  left: -moz-calc((100% - 33px)/2);
  left: -webkit-calc((100% - 33px)/2);
  left: calc((100% - 33px)/2);
}
.homeInvest .featureCarousel__item.secureInvest .featureCarousel__item__icon:before {
  background-position: -60px -140px;
  width: 48px;
  height: 40px;
  top: 20px;
  left: -moz-calc((100% - 48px)/2);
  left: -webkit-calc((100% - 48px)/2);
  left: calc((100% - 48px)/2);
}
.homeInvest .featureCarousel__item.secureInvest#cloned3 {
  bottom: 418px;
  right: -72px;
}
.homeInvest .featureCarousel__item.secureInvest#cloned6 {
  bottom: 839px;
  right: 215px;
}
.homeInvest .featureCarousel__item.secureInvest#cloned9 {
  bottom: 803px;
  right: 722px;
}
.homeInvest .featureCarousel__item.secureInvest#cloned12 {
  bottom: 344px;
  right: 945px;
}
.homeInvest .featureCarousel__item.secureInvest#cloned15 {
  bottom: -78px;
  right: 655px;
}
.homeInvest .featureCarousel__item.secureInvest.active {
  visibility: visible;
  opacity: 1;
}
.homeInvest .featureCarousel__item.secureInvest.active .featureCarousel__item__icon {
  top: 10px;
}
.homeInvest .featureCarousel__item.investPeriod {
  bottom: -110px;
  right: 313px;
}
.homeInvest .featureCarousel__item.investPeriod .featureCarousel__item__icon:after {
  background-position: -130px 0;
  width: 39px;
  height: 39px;
  top: 10px;
  left: -moz-calc((100% - 39px)/2);
  left: -webkit-calc((100% - 39px)/2);
  left: calc((100% - 39px)/2);
}
.homeInvest .featureCarousel__item.investPeriod .featureCarousel__item__icon:before {
  background-position: -60px 0;
  width: 48px;
  height: 48px;
  top: 18px;
  left: -moz-calc((100% - 48px)/2);
  left: -webkit-calc((100% - 48px)/2);
  left: calc((100% - 48px)/2);
}
.homeInvest .featureCarousel__item.investPeriod#cloned2 {
  bottom: 241px;
  right: -50px;
}
.homeInvest .featureCarousel__item.investPeriod#cloned5 {
  bottom: 733px;
  right: 72px;
}
.homeInvest .featureCarousel__item.investPeriod#cloned8 {
  bottom: 870px;
  right: 559px;
}
.homeInvest .featureCarousel__item.investPeriod#cloned11 {
  bottom: 518px;
  right: 920px;
}
.homeInvest .featureCarousel__item.investPeriod#cloned14 {
  bottom: 30px;
  right: 795px;
}
.homeInvest .featureCarousel__item.investPeriod.active .featureCarousel__item__icon {
  top: 15px;
  right: -2px;
}
.homeInvest .featureCarousel__item.bitcoinAccept {
  bottom: -117px;
  right: 492px;
}
.homeInvest .featureCarousel__item.bitcoinAccept .featureCarousel__item__icon:after {
  background-position: -130px -50px;
  width: 39px;
  height: 36px;
  top: 12px;
  left: -moz-calc((100% - 39px)/2);
  left: -webkit-calc((100% - 39px)/2);
  left: calc((100% - 39px)/2);
}
.homeInvest .featureCarousel__item.bitcoinAccept .featureCarousel__item__icon:before {
  background-position: -60px -70px;
  width: 48px;
  height: 44px;
  top: 19px;
  left: -moz-calc((100% - 48px)/2);
  left: -webkit-calc((100% - 48px)/2);
  left: calc((100% - 48px)/2);
}
.homeInvest .featureCarousel__item.bitcoinAccept#cloned1 {
  bottom: 80px;
  right: 30px;
}
.homeInvest .featureCarousel__item.bitcoinAccept#cloned4 {
  bottom: 580px;
  right: -27px;
}
.homeInvest .featureCarousel__item.bitcoinAccept#cloned7 {
  bottom: 880px;
  right: 380px;
}
.homeInvest .featureCarousel__item.bitcoinAccept#cloned10 {
  bottom: 680px;
  right: 841px;
}
.homeInvest .featureCarousel__item.bitcoinAccept#cloned13 {
  bottom: 180px;
  right: 895px;
}
.homeInvest .featureCarousel__item.bitcoinAccept.active .featureCarousel__item__icon {
  top: 15px;
  left: 8px;
}
.homeInvest .featureCarousel__item.active span {
  visibility: visible;
  opacity: 1;
}
.homeInvest .featureCarousel__item.active .featureCarousel__item__icon {
  width: 85px;
  height: 85px;
  border-color: transparent;
  background: #f5d696;
  background: -moz-linear-gradient(-45deg, #f5d696 0%, #eebc75 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #f5d696), color-stop(100%, #eebc75));
  background: -webkit-linear-gradient(-45deg, #f5d696 0%, #eebc75 100%);
  background: -o-linear-gradient(-45deg, #f5d696 0%, #eebc75 100%);
  background: -ms-linear-gradient(-45deg, #f5d696 0%, #eebc75 100%);
  background: linear-gradient(135deg, #f5d696 0%, #eebc75 100%);
  -webkit-box-shadow: 0 28px 84px 5px rgba(33, 70, 89, 0.16);
  -moz-box-shadow: 0 28px 84px 5px rgba(33, 70, 89, 0.16);
  box-shadow: 0 28px 84px 5px rgba(33, 70, 89, 0.16);
}
section.pre-footer-cust {
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(45deg, #eed51e, #da6700);
}
h1.pre-footer-head {
    text-align: center;
    font-family: Great Vibes;
    color: #010101;
    padding: 8px 0px;
    line-height: normal;
}
.pre-footer-icon img:hover {
    transform: scale(1.3);
}
.pre-footer-icon img {
    width: 80%;
    margin: 0 auto;
    transition: .5s;
}
.pre-footer-icon {
    display: flex;
}
footer {
    background-color: #131313;
    padding: 70px 0 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.footerCR {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
footer .footerCR{
    padding-top: 0px !important;
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 30px 0 0; 
}
footer .footerCR .logo .logo__symbol {
  background: url("../img/logo-symbol.svg") no-repeat;
  width: 17px;
  height: 20px;
}
footer .footerCR .logo .logo__type {
  font-size: 18px;
  line-height: 20px;
}
footer .footerCR .footerCR__copyRight {
  color: #939393;
  font-size: 11px;
}
footer .footerCR .footerCR__social ul li {
  padding: 2px 20px 2px 15px;
}
footer .footerCR .footerCR__social ul li:first-of-type {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
footer .footerCR .footerCR__social ul li a {
  display: block;
}
footer .footerCR .footerCR__social ul li a:after {
  opacity: .5;
}
footer .footerCR .footerCR__social ul li a.facebook {
  width: 7px;
  height: 16px;
}
footer .footerCR .footerCR__social ul li a.facebook:after {
  background-position: 0 -60px;
  width: 7px;
  height: 16px;
  top: 0;
}
footer .footerCR .footerCR__social ul li a.twitter {
  width: 16px;
  height: 13px;
}
footer .footerCR .footerCR__social ul li a.twitter:after {
  background-position: 0 -30px;
  width: 16px;
  height: 13px;
  top: 2px;
}
footer .footerCR .footerCR__social ul li a:hover:after {
  opacity: 1;
}
body {
    background-image: url(../images/bg_body2.jpg);
    background-repeat: repeat;
}
#contacticons {
  text-align: center;
}
#about, #projects, #referal {
    background: #010101;
    width: 100%;
    color: #131313;
    padding: 40px auto auto 40px;
//    border: 1px solid green; // add border to check the margins
}
#about h1 {
    text-align: center;
    padding: 40px 0 0 0;
    font-family: Great Vibes;
    color: #e9ba0f;
    margin: auto;
}
#about p {
    color: rgba(255, 255, 255, 0.9);
    padding: 0 0 0 40px;
    text-align: justify;
}
#about p:first-letter {
    margin-left: 30px;
}
#projects {
    padding: 0 0 40px 0;
}
#projects h3.fancy-heading-projects {
    text-align: center;
    font-family: Great Vibes;
    color: #e9ba0f;
    line-height: 37px;
    font-size: 36px;
}
p.project-sub {
    color: white;
    font-weight: 400;
    margin-top: 8px;
    padding-bottom: 10px;
    font-size: 24px;
    font-family: 'Ridley Grotesk';
}
#footerprojects {
    padding: 40px 0 0 0;
}
#footercontact {
    text-align: center;
    position: relative;
    padding: 40px 0 0 0;
}
#footerhome {
    text-align: center;
    position: relative;
    padding: 40px 0 0 30%;
}

/*responsive 1 start*/
@media only screen and (max-width: 1440px) and (min-width: 1200px){
    .col-lg-3.col-md-3.user-payment-section {
        width: 31%;
    }
    .homeIntro {
        height: 630px;
        background-size: cover !important;
    }
    .round-shape-button {
        width: 100% !important;
    }
    .col-md-3.icon-box-slider-down {
        padding: 40px 20px !important;
    }
    .icon-box-slider-down h1 {
        font-size: 35px !important;
    }
    .bitcoin-girl-left {
        padding-left: 120px;
        padding-bottom: 50px;
        padding-top: 0px !important;
    }
    .bitcoin-girl-right {
        margin-top: 27px;
    }
}
/*responsive 1 end*/
