
body {
  background-color: #D2691E;
  font-family:verdana;  
  margin: 0;
  background-repeat: no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;  
}

#wrapper {
  width:960px;
  margin:0px auto;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom:0;
  border-radius:0;
  vertical-align: center;
}

#home {
  background-color:#FDD04B;
  height:100%;
  min-height:100%;
}

#about {
  background-color:#F0E68C;
  height:100%;
  min-height:100%;
}

#projects {
  background-color:#F0E68C;
  height:100%;
  min-height:100%;
}

#contact {
  background-color:#FFA07A;
  position:relative;
  height:100%;
  min-height:100%;
  border:0px;
  margin:0px;
  font-size:18px;
}

#footerhome {
  position:relative;
  bottom:2%;
  right:50%;
  left:50%;
}

#footerabout {
  position:relative;
  bottom:2%;
  right:50%;
  left:50%;
}

#footerprojects {
  position:relative;
  bottom:2%;
  right:50%;
  left:50%;
}

#arrow {
  font-size:40px;
  text-align:center;
  padding:0;
}
