body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: white;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

#showcase {
  min-height: 97vh;
  min-width: 97vw;
  color: white;
  text-align: center;
  background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
  background-position: center;
  background-size: cover;
}

#showcase::after {
  content: none;
  top: 0;
  right: 0;
  position: absolute;
  width: 100vw;
  height: 99vh;
  opacity: 0.4;
  z-index: -1;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

.btn {
  color: white;
  text-decoration: none;
  border: 1px solid #666;
  padding: 1em 2em;
  background: #333;
}

.btn:hover {
  background-color: yellowgreen;
}

#btn-read {
  margin-right: 30px;
  font-size: 20px;
}

#btn-contact {
  margin-left: 30px;
  font-size: 20px;
}

/* Section A */
#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

/* Section B */
img {
  width: 100%;
}

#section-b {
  padding: 20px 10px 5px 10px;
}

#section-b ul {
  /* Adauga display flex ca sa vezi box-urile in linie */
  display: flex;
  /* Adauga justify content space-around pentru spatiul dintre box-uri*/
  justify-content: space-around;
  /* Adauga list style type none ca sa scapi de acel punct alb de langa imagine*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  width: 31%;
  margin-bottom: 15px;
  background: white;
  color: #333;
}

/* Task 4 - Sa te uiti in dreapta sa vezi cum se schimba pagina
   cu fiecare linie de cod adaugata

   acest task este asemanator cu task-ul 2, te las pe tine sa adaugi codul css aici
   singura diferenta este ca vei avea background #fff si padding (nu padding-bottom) 2em*/

#section-c {
  /* adauga aici background #eaeaea */
  background: #fff;
  /* adauga aici culoarea textului #333 */
  color: #333;
  /* adauga aici padding bottom 2em */
  padding: 2em;
}

/* Felicitari! Ai terminat al patrulea task.
  Premiaza-te cu o gustare sau ce iti face placere pentru aceasta reusita :) */

/* -------------------------------------------------------------------------------------- */

/* Task 5 - Sa te uiti in dreapta sa vezi cum se schimba pagina
   cu fiecare linie de cod adaugata*/
/* Footer */

#main-footer {
  /* adauga aici padding 2em */
  padding: 2em;
  /* adauga aici background #000 */
  background: #000;
  /* adauga aici color #fff */
  color: #fff;
  /* adauga aici text align center */
  text-align: center;
}

#main-footer a {
  /* adauga aici color #2690d4 */
  color: #2690d4;
  /* adauga aici codul pentru a scapa de linia de sub text cum ai facut la primul task la buton*/
  text-decoration: none;
}

/* Felicitari! Ai terminat task-ul 5.
  Trimite-mi pe mail link-ul la tot ce ai facut :) */

#contact {
  position: relative;
  height:100%;
  min-height:100%;
  border:0px;
  margin:0px;
  margin-top: -20px;
  font-size:12px;
}
